<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Navigation bar with links to character detail page and other pages on the site -->
        {% block header %}{% endblock %}
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <!-- Copyright information, year, and webmaster email address -->
        {% block footer %}
            <p>&copy; 2023 My Site | Contact: <a href="mailto:shun.022885@gmail.com">管理人メールアドレス</a></p>
        {% endblock %}
    </footer>
</body>
</html>
